In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv(r"H:\data analysis\Kaggle\Instruction and Dataset-20240112\Life Expectancy Data.csv")

In [4]:
df.head()

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599,18.2,18.2,0.454,9.5

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2922 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult mortality                  2928 non-null   float64
 5   Infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   Percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  Under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV/AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2938 non-null   object
 18  Thinness  1-19 years             2904 non-null   float64
 19  Thinness 5-9 years               2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(15), int64(4), object(3)
memory usage: 505.1+ KB

In [6]:
df.describe()

,Year,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,BMI,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,27.700000,28.600000,0.948000,20.700000

In [7]:
df.isnull().sum()

Country                              0
Year                                 0
Status                              16
Life expectancy                     10
Adult mortality                     10
Infant deaths                        0
Alcohol                            194
Percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
Under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                           0
Thinness  1-19 years                34
Thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [8]:
df.shape

(2938, 22)

In [9]:
df.value_counts('Country')

Country
Afghanistan              16
Peru                     16
Nicaragua                16
Niger                    16
Nigeria                  16
                         ..
Palau                     1
Niue                      1
Nauru                     1
Saint Kitts and Nevis     1
Dominica                  1
Name: count, Length: 193, dtype: int64

In [10]:
df.value_counts('Status')

Status
Developing    2413
Developed      509
Name: count, dtype: int64

In [11]:
df.loc[df.Status.isnull()]

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
6,Afghanistan,2009,NaN,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331,18.6,18.7,0.434,8.9
15,Afghanistan,2000,NaN,54.8,321.0,88,0.01,10.424960,62.0,6532,...,24.0,8.20,24.0,0.1,114.560000,293756,2.3,2.5,0.338,5.5
27,Albania,2004,NaN,73.0,17.0,1,4.54,221.842800,99.0,7,...,98.0,6.38,97.0,0.1,2416.588235,326939,1.8,1.9,0.681,10.9
46,Algeria,2001,NaN,71.4,145.0,20,0.23,147.986071,NaN,2686,...,89.0,3.84,89.0,0.1,1732.857979,31592153,6.4,6.3,0.644,10.9
65,Antigua and Barbuda,2014,NaN,76.2,131.0,0,8.56,2422.999774,99.0,0,...,96.0,5.54,99.0,0.2,12888.296670,#,3.3,3.3,0.782,13.9
75,Antigua and Barbuda,2004,NaN,74.4,149.0,0,7.28,22.862952,97.0,0,...,97.0,4.21,97.0,0.1,1352.837400,#,3.5,3.4,0.000,0.0
82,Argentina,2013,NaN,76.0,119.0,8,8.28,1001.796332,94.0,0,...,99.0,4.99,94.0,0.1,12976.636420,42539925,1.0,0.9,0.823,17.3
93,Argentina,2002,NaN,74.1,138.0,12,7.81,470.186915,66.0,0,...,94.0,8.31,93.0,0.1,2579.193168,3788937,1.2,1.0,0.776,16.3
104,Armenia,2007,NaN,73.5,132.0,1,3.99,44.572200,85.0,1,...,9.0,4.31,88.0,0.1,3138.887300,293356,2.0,2.1,0.707,11.7
118,Australia,2009,NaN,81.7,66.0,1,10.62,7172.275229,94.0,104,...,92.0,9.50,92.0,0.1,42742.998980,216917,0.7,0.6,0.925,19.1
136,Austria,2007,NaN,81.0,8.0,0,12.50,7453.864400,85.0,20,...,85.0,1.40,85.0,0.1,46586.652500,8295487,1.7,1.9,0.860,15.2
148,Azerbaijan,2011,NaN,71.6,125.0,5,1.98,263.142699,84.0,0,...,91.0,5.10,87.0,0.1,7189.691229,917382,2.8,2.9,0.741,11.7
458,Cabo Verde,2005,NaN,71.8,134.0,0,4.26,3.349817,93.0,0,...,95.0,4.86,95.0,0.8,248.134590,474567,8.5,8.5,0.582,11.2
1129,Haiti,2008,NaN,62.1,259.0,16,5.95,63.831957,NaN,0,...,64.0,5.92,63.0,2.4,674.756415,97529,4.2,4.2,0.462,8.4
2003,Paraguay,2003,NaN,71.7,166.0,4,6.64,155.423308,86.0,0,...,86.0,5.99,86.0,0.1,1174.779347,56795,2.4,2.3,0.642,12.7
2068,Portugal,2002,NaN,77.2,17.0,1,12.00,1904.002310,82.0,8,...,96.0,9.15,98.0,0.1,12882.288970,1419631,0.8,0.6,0.788,15.9

In [12]:
df.loc[df.Status.isnull(),["Status"]] = "Developing"

In [13]:
df.loc[(df.Status.isnull()) & (df["Country"] == "Australia"),["Status"]] = "Developed"

In [14]:
df.loc[(df.Status.isnull()) & ( df.Country == "Austria"),["Status"]] = "Developed"

In [15]:
df.loc[(df.Status.isnull()) & (df.Country == "Portugual"),["Status"]] = "Developed"

In [16]:
df.loc[df["Population"] =="#"]["Country"].value_counts()

Country
Antigua and Barbuda                                     16
Singapore                                               16
New Zealand                                             16
Oman                                                    16
Qatar                                                   16
Republic of Korea                                       16
Republic of Moldova                                     16
Saint Lucia                                             16
Saint Vincent and the Grenadines                        16
Saudi Arabia                                            16
Slovakia                                                16
Libya                                                   16
Somalia                                                 16
The former Yugoslav republic of Macedonia               16
United Arab Emirates                                    16
United Kingdom of Great Britain and Northern Ireland    16
United Republic of Tanzania                             16
United States of America                                16
Venezuela (Bolivarian Republic of)                      16
Viet Nam                                                16
Bahamas                                                 16
Micronesia (Federated States of)                        16
Lao People's Democratic Republic                        16
Egypt                                                   16
Bahrain                                                 16
Barbados                                                16
Bolivia (Plurinational State of)                        16
Brunei Darussalam                                       16
CÃ´te d'Ivoire                                           16
Congo                                                   16
Cuba                                                    16
Czechia                                                 16
Democratic People's Republic of Korea                   16
Democratic Republic of the Congo                        16
Yemen                                                   16
Gambia                                                  16
Grenada                                                 16
Iran (Islamic Republic of)                              16
Kuwait                                                  16
Kyrgyzstan                                              16
Eritrea                                                  4
Marshall Islands                                         1
San Marino                                               1
Saint Kitts and Nevis                                    1
Cook Islands                                             1
Niue                                                     1
Nauru                                                    1
Monaco                                                   1
Dominica                                                 1
Name: count, dtype: int64

In [17]:
ndf = df.select_dtypes(include=["int64","float64"])
ndf

,Year,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,BMI,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,17.2,17.3,0.479,10.1
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,17.5,17.5,0.476,10.0
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,17.7,17.7,0.470,9.9
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,17.9,18.0,0.463,9.8
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2004,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,9.4,9.4,0.407,9.2
2934,2003,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,9.8,9.9,0.418,9.5
2935,2002,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,1.2,1.3,0.427,10.0
2936,2001,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,1.6,1.7,0.427,9.8
2937,2000,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,11.0,11.2,0.434,9.8

In [18]:
cdf = df.select_dtypes(include="object")
cdf

          Country      Status Population
0     Afghanistan  Developing   33736494
1     Afghanistan  Developing     327582
2     Afghanistan  Developing   31731688
3     Afghanistan  Developing    3696958
4     Afghanistan  Developing    2978599
...           ...         ...        ...
2933     Zimbabwe  Developing   12777511
2934     Zimbabwe  Developing   12633897
2935     Zimbabwe  Developing     125525
2936     Zimbabwe  Developing   12366165
2937     Zimbabwe  Developing   12222251

[2938 rows x 3 columns]

In [19]:
ndf.corr()

,Year,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,BMI,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
Year,1.000000,0.170033,-0.079052,-0.037415,-0.052990,0.031400,0.104333,-0.082493,0.108974,-0.042937,0.094158,0.090740,0.134337,-0.139741,0.101620,-0.047876,-0.050929,0.243468,0.209400
Life expectancy,0.170033,1.000000,-0.696359,-0.196557,0.404877,0.381864,0.256762,-0.157586,0.567694,-0.222529,0.465556,0.218086,0.479495,-0.556556,0.461455,-0.477183,-0.471584,0.724776,0.751975
Adult mortality,-0.079052,-0.696359,1.000000,0.078756,-0.195848,-0.242860,-0.162476,0.031176,-0.387017,0.094146,-0.274823,-0.115281,-0.275131,0.523821,-0.296049,0.302904,0.308457,-0.457626,-0.454612
Infant deaths,-0.037415,-0.196557,0.078756,1.000000,-0.115638,-0.085612,-0.223566,0.501128,-0.227279,0.996629,-0.170689,-0.128616,-0.175171,0.025231,-0.108427,0.465711,0.471350,-0.145139,-0.193720
Alcohol,-0.052990,0.404877,-0.195848,-0.115638,1.000000,0.341285,0.087549,-0.051827,0.330408,-0.112370,0.221734,0.296942,0.222020,-0.048845,0.354712,-0.428795,-0.417414,0.450040,0.547378
Percentage expenditure,0.031400,0.381864,-0.242860,-0.085612,0.341285,1.000000,0.016274,-0.056596,0.228700,-0.087852,0.147259,0.174420,0.143624,-0.097857,0.899373,-0.251369,-0.252905,0.381952,0.389687
Hepatitis B,0.104333,0.256762,-0.162476,-0.223566,0.087549,0.016274,1.000000,-0.120529,0.150380,-0.233126,0.486171,0.058280,0.611495,-0.112675,0.083903,-0.120429,-0.124960,0.199549,0.231117
Measles,-0.082493,-0.157586,0.031176,0.501128,-0.051827,-0.056596,-0.120529,1.000000,-0.175977,0.507809,-0.136166,-0.106241,-0.141882,0.030899,-0.076466,0.224808,0.221072,-0.129568,-0.137225
BMI,0.108974,0.567694,-0.387017,-0.227279,0.330408,0.228700,0.150380,-0.175977,1.000000,-0.237669,0.284569,0.242503,0.283147,-0.243717,0.301557,-0.532025,-0.538911,0.508774,0.546961
Under-five deaths,-0.042937,-0.222529,0.094146,0.996629,-0.112370,-0.087852,-0.233126,0.507809,-0.237669,1.000000,-0.188720,-0.130148,-0.195668,0.038062,-0.112081,0.467789,0.472263,-0.163305,-0.209373
Polio,0.094158,0.465556,-0.274823,-0.170689,0.221734,0.147259,0.486171,-0.136166,0.284569,-0.188720,1.000000,0.137330,0.673553,-0.159560,0.211976,-0.221823,-0.222592,0.381078,0.417866
Total expenditure,0.090740,0.218086,-0.115281,-0.128616,0.296942,0.174420,0.058280,-0.106241,0.242503,-0.130148,0.137330,1.000000,0.152754,-0.001389,0.138364,-0.277101,-0.283774,0.166682,0.246384
Diphtheria,0.134337,0.479495,-0.275131,-0.175171,0.222020,0.143624,0.611495,-0.141882,0.283147,-0.195668,0.673553,0.152754,1.000000,-0.164860,0.200666,-0.229518,-0.222743,0.401456,0.425332
HIV/AIDS,-0.139741,-0.556556,0.523821,0.025231,-0.048845,-0.097857,-0.112675,0.030899,-0.243717,0.038062,-0.159560,-0.001389,-0.164860,1.000000,-0.136491,0.204064,0.207283,-0.249519,-0.220429
GDP,0.101620,0.461455,-0.296049,-0.108427,0.354712,0.899373,0.083903,-0.076466,0.301557,-0.112081,0.211976,0.138364,0.200666,-0.136491,1.000000,-0.285697,-0.290539,0.460341,0.448273
Thinness 1-19 years,-0.047876,-0.477183,0.302904,0.465711,-0.428795,-0.251369,-0.120429,0.224808,-0.532025,0.467789,-0.221823,-0.277101,-0.229518,0.204064,-0.285697,1.000000,0.939102,-0.422429,-0.471652
Thinness 5-9 years,-0.050929,-0.471584,0.308457,0.471350,-0.417414,-0.252905,-0.124960,0.221072,-0.538911,0.472263,-0.222592,-0.283774,-0.222743,0.207283,-0.290539,0.939102,1.000000,-0.411053,-0.460632
Income composition of resources,0.243468,0.724776,-0.457626,-0.145139,0.450040,0.381952,0.199549,-0.129568,0.508774,-0.163305,0.381078,0.166682,0.401456,-0.249519,0.460341,-0.422429,-0.411053,1.000000,0.800092
Schooling,0.209400,0.751975,-0.454612,-0.193720,0.547378,0.389687,0.231117,-0.137225,0.546961,-0.209373,0.417866,0.246384,0.425332,-0.220429,0.448273,-0.471652,-0.460632,0.800092,1.000000

alcohol has mild positive relation with life expectancy (which could mean since they live long so drink for a longer time)
too many insights let focus on big ones:-
education increases life expectancy(highly +ive related)
LifeExpectancy = BMI,polio,diptheria,hiv,gdp,thinness1to19 is a mildfactor;;; incresourcesand schooling has high relation
Adultmortality = hiv,schooling,incresorces are mildly related
infantdeaths = measeles,thines1to19
alcohol = bmi,thinness1to19,income,schooling
percentageexp = gdp strongly
hepB = polio,diptheria
measeles = infant,under5
bmi = lifewxp,thinness1to19,income , schooling mild
under5 = thinness mild related
polio= lifeexpectancy,hepB, mild , dipheria highly
totalexp = 
diptheria = hepB,polio .06 related .04 study,incomeresource
hiv = LE,AM,
gdp = percentage exp ,life exp

In [20]:
c = df.loc[df["Life expectancy"].isnull(),"Country"]
c # san marino look into it
#dfc = []
#dfc = pd.DataFrame(dfc)
#for i in c:
#    dfc = dfc.add(df[df.Country == i])

624              Cook Islands
769                  Dominica
1650         Marshall Islands
1715                   Monaco
1812                    Nauru
1909                     Niue
1958                    Palau
2167    Saint Kitts and Nevis
2216               San Marino
2713                   Tuvalu
Name: Country, dtype: object

In [21]:
df.loc[df["Life expectancy"].isnull()]

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
624,Cook Islands,2013,Developing,NaN,NaN,0,0.01,0.000000,98.0,0,...,98.0,3.58,98.0,0.1,NaN,#,0.1,0.1,NaN,NaN
769,Dominica,2013,Developing,NaN,NaN,0,0.01,11.419555,96.0,0,...,96.0,5.58,96.0,0.1,722.756650,#,2.7,2.6,0.721,12.7
1650,Marshall Islands,2013,Developing,NaN,NaN,0,0.01,871.878317,8.0,0,...,79.0,17.24,79.0,0.1,3617.752354,#,0.1,0.1,NaN,0.0
1715,Monaco,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,4.30,99.0,0.1,NaN,#,NaN,NaN,NaN,NaN
1812,Nauru,2013,Developing,NaN,NaN,0,0.01,15.606596,87.0,0,...,87.0,4.65,87.0,0.1,136.183210,#,0.1,0.1,NaN,9.6
1909,Niue,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,7.20,99.0,0.1,NaN,#,0.1,0.1,NaN,NaN
1958,Palau,2013,Developing,NaN,NaN,0,NaN,344.690631,99.0,0,...,99.0,9.27,99.0,0.1,1932.122370,292,0.1,0.1,0.779,14.2
2167,Saint Kitts and Nevis,2013,Developing,NaN,NaN,0,8.54,0.000000,97.0,0,...,96.0,6.14,96.0,0.1,NaN,#,3.7,3.6,0.749,13.4
2216,San Marino,2013,Developing,NaN,NaN,0,0.01,0.000000,69.0,0,...,69.0,6.50,69.0,0.1,NaN,#,NaN,NaN,NaN,15.1
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.01,78.281203,9.0,0,...,9.0,16.61,9.0,0.1,3542.135890,1819,0.2,0.1,NaN,0.0

In [22]:
df = df.dropna(subset=["Life expectancy"])

In [23]:
df.loc[df["Adult mortality"].isnull()] #taken care with above

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy, Adult mortality, Infant deaths, Alcohol, Percentage expenditure, Hepatitis B, Measles, BMI, Under-five deaths, Polio, Total expenditure, Diphtheria, HIV/AIDS, GDP, Population, Thinness  1-19 years, Thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [24]:
df.loc[df["Alcohol"].isnull()]

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.0,95.0,63,...,95.0,NaN,95.0,0.1,4132.762920,39871528,6.0,5.8,0.743,14.4
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.0,64.0,118,...,7.0,NaN,64.0,1.9,3695.793748,2785935,8.3,8.2,0.531,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,NaN,0.0,99.0,0,...,86.0,NaN,99.0,0.2,13566.954100,#,3.3,3.3,0.784,13.9
80,Argentina,2015,Developing,76.3,116.0,8,NaN,0.0,94.0,0,...,93.0,NaN,94.0,0.1,13467.123600,43417765,1.0,0.9,0.826,17.3
96,Armenia,2015,Developing,74.8,118.0,1,NaN,0.0,94.0,33,...,96.0,NaN,94.0,0.1,369.654776,291695,2.1,2.2,0.741,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),2015,Developing,74.1,157.0,9,NaN,0.0,87.0,0,...,87.0,NaN,87.0,0.1,NaN,#,1.6,1.5,0.769,14.3
2874,Viet Nam,2015,Developing,76.0,127.0,28,NaN,0.0,97.0,256,...,97.0,NaN,97.0,0.1,NaN,#,14.2,14.5,0.678,12.6
2890,Yemen,2015,Developing,65.7,224.0,37,NaN,0.0,69.0,468,...,63.0,NaN,69.0,0.1,NaN,#,13.6,13.4,0.499,9.0
2906,Zambia,2015,Developing,61.8,33.0,27,NaN,0.0,9.0,9,...,9.0,NaN,9.0,4.1,1313.889646,161587,6.3,6.1,0.576,12.5
2922,Zimbabwe,2015,Developing,67.0,336.0,22,NaN,0.0,87.0,0,...,88.0,NaN,87.0,6.2,118.693830,15777451,5.6,5.5,0.507,10.3

In [25]:
df.loc[df.Alcohol.isnull(),"Alcohol"] = 4.60

In [26]:
df.loc[df["Alcohol"].isnull()]

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy, Adult mortality, Infant deaths, Alcohol, Percentage expenditure, Hepatitis B, Measles, BMI, Under-five deaths, Polio, Total expenditure, Diphtheria, HIV/AIDS, GDP, Population, Thinness  1-19 years, Thinness 5-9 years, Income composition of resources, Schooling]
Index: []

[0 rows x 22 columns]

In [34]:
df.loc[df["Income composition of resources"].isnull()]

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
432,CÃ´te d'Ivoire,2015,Developing,53.3,397.0,57,4.60,0.0,83.0,65,...,81.0,NaN,83.0,1.9,NaN,#,5.5,5.5,NaN,NaN
433,CÃ´te d'Ivoire,2014,Developing,52.8,47.0,58,0.01,0.0,76.0,50,...,76.0,5.72,76.0,2.0,NaN,#,5.6,5.6,NaN,NaN
434,CÃ´te d'Ivoire,2013,Developing,52.3,412.0,59,3.15,0.0,8.0,48,...,79.0,5.81,8.0,2.4,NaN,#,5.8,5.7,NaN,NaN
435,CÃ´te d'Ivoire,2012,Developing,52.0,415.0,59,3.24,0.0,82.0,137,...,83.0,6.14,82.0,2.9,NaN,#,5.9,5.9,NaN,NaN
436,CÃ´te d'Ivoire,2011,Developing,51.7,419.0,60,3.13,0.0,62.0,628,...,58.0,6.42,62.0,3.3,NaN,#,6.1,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2805,United States of America,2004,Developed,77.5,111.0,28,8.48,0.0,92.0,37,...,92.0,15.14,96.0,0.1,NaN,#,0.7,0.6,NaN,NaN
2806,United States of America,2003,Developed,77.2,114.0,28,8.40,0.0,92.0,56,...,91.0,15.60,96.0,0.1,NaN,#,0.7,0.6,NaN,NaN
2807,United States of America,2002,Developed,77.0,115.0,28,8.33,0.0,88.0,41,...,9.0,14.55,94.0,0.1,NaN,#,0.8,0.6,NaN,NaN
2808,United States of America,2001,Developed,76.9,115.0,28,8.25,0.0,89.0,116,...,89.0,13.73,94.0,0.1,NaN,#,0.8,0.6,NaN,NaN
2809,United States of America,2000,Developed,76.8,114.0,28,8.21,0.0,9.0,85,...,9.0,13.70,94.0,0.1,NaN,#,0.8,0.7,NaN,NaN

In [35]:
df.loc[df.Schooling.isnull(),"Schooling"] = 11.992793

In [36]:
df.loc[df["Income composition of resources"].isnull(),"Income composition of resources"] = 0.627551

In [37]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult mortality                      0
Infant deaths                        0
Alcohol                              0
Percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 32
Under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                443
Population                           0
Thinness  1-19 years                32
Thinness 5-9 years                  32
Income composition of resources      0
Schooling                            0
dtype: int64